// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Green
$green-primary-color: green;
$font-color:#c2aa9f;
$background-color:black;
$background-color-grey:#999;


//Palette Blue
$blue-primary-color: green;
